@font-face {
  font-family: 'HelveticaNeue';
  src: url("./fonts/HelveticaNeue.ttc");
}

:root {
  --main-color: #00aef3;
  --main-bg-color: black;
  --secondary-bg-color: #2b2b2b;

  --main-font: "HelveticaNeue";
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:hover{
  text-decoration: none;
}

body{
  background-color: var(--main-bg-color);
  width: 100%;
  margin: 0;
  color: white;
  font-family: var(--main-font);
}

.active{
  color: var(--main-color)
}

.navbar-menu{
background-color: var(--main-bg-color);
width: 100vw;
height: 85px;
padding: 20px 120px;
position: fixed;
top: 0;
left: 0;
opacity: 1;
z-index: 1001;

display: flex;
justify-content: center;
align-items: center;
}

.navbar-menu-wrapper{
  width: 1024px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-menu .logo{
  width: 180px;
}

.navmenu{
  display: flex;
  align-items: center;
  padding:0;
}

.navbar-menu .navmenu ul{
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.navbar-menu .navmenu li{
  list-style: none;
  cursor: pointer;
}

.header{
  position: relative;
}

.header .hero-image{
  width: 100%;
}

.header .hero-image img{
  width: 100%;
  object-fit: cover;
  margin-top: 90px;
}

.usaid-information{
  background-color: var(--secondary-bg-color);
  padding: 60px 120px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.usaid-information p{
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 44px;
  
}

.usaid-information span{
  color: var(--main-color);
  font-size: 22px;  
  cursor: pointer;
  transition: color .3s ease;
}

.usaid-information span:hover{
  color: rgb(197, 197, 197)
}

.courses-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 120px;

}

.courses-area h1{
  font-size: 26px;
  margin-bottom: 60px;
}

.courses-area-wrapper,
.usaid-information-wrapper{
  width: 1024px;
}

.course-card{
  background-color: transparent;
  border: 2px solid var(--secondary-bg-color);
  min-width: 300px;
}

.button-course-details{
  background-color: transparent;
  color: var(--main-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  border-style: none;
  margin-top: 80px;
}

.button-course-details:hover{
  color: #3ea9d3;
}

.button-course-details::before{
  content: url("./Images/arrow right.svg");
  margin-right: 12px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.course-card .card-body{
  margin-top: 20px;
}

.course-card .card-text{
  margin-top: 30px;
  font-size: 15px;
}

.courses-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

@media only screen and (min-width: 600px) {
  .courses-container {
    display: flex;
  flex-wrap: wrap;
    flex-basis: 100%;
  }
}